$primary-color: #458ee0;
$visited-color: #8069e7;

$white: #fafcff;
$lightergray: #babcbf;
$lightgray: #848688;
$gray: #56585a;
$darkgray: #323436;
$darkergray: #202224;
$black: #040608;

$gray-100: #F5F5F5;
$gray-200: #E0E0E0;
$gray-300: #C6C6C6;
$gray-400: #A8A8A8;
$gray-500: #888888;
$gray-600: #696969;
$gray-700: #505050;
$gray-800: #383838;
$gray-900: #202020;

$background-color: $white;
$border-color: $lightergray;