@import "@/styles/colors";

.main {
	//height: 95%;
	padding-top: 64px;
	flex-direction: row;
	justify-content: center;
	gap: 64px;

	.ingredients {
		width: 480px;
		padding: 12px;
		position: relative;

		background-color: rgb(white, 0.7);
		border: 1px solid $gray-200;
		border-radius: 32px;
	}
}